name: HACS Validation

on:
  push:
  pull_request:
  release:

jobs:
  hacs:
    runs-on: ubuntu-latest
    steps:
      - name: HACS Validation
        uses: hacs/action@main
        with:
          category: integration
          ignore: brands 

